# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test
coverage/

# NestJS
apps/backend/dist/

# Mini Program
apps/merchant-miniapp/miniprogram_npm/

# H5
apps/customer-h5/dist/
